body {
    margin: 0;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 3vmin;  
  
}

.container {
    position: relative;
    width: 50vw;
    height: auto;
    margin-left: 25vw;
    z-index:2;
    max-height: 100%;
    overflow: hidden;
}
  
.navigation {
    text-align: center;
    padding-top: 8vmin;
}
.navigation a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 2vmin;
    font-size: 13px;
}
.navigation a:hover {
    
    font-size: 15px;
    cursor: pointer;
    
}

.navigationW {   
    text-align: center;
    padding-top: 8vmin;
  
}
.navigationW h3{
    text-align: left;
    padding-top: 1vmin;
    padding-bottom: 1vmin;  
    
  }
.navigationW h3:hover {
    cursor: pointer;
    background-color: rgb(243, 243, 243);
    border-top: 3px solid rgb(243, 243, 243) ;
    border-bottom: 3px solid rgb(243, 243, 243) ;
    color: #5845ff;
  }

.navigationP {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 8vmin;
  
}
.navigationP h3{
    border-bottom: 3px solid #ffffff ;
    text-align: left;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
      
  }
.navigationP h3:hover {
    cursor: pointer;
    background-color: rgb(106, 255, 0);
    border-top: 3px solid rgb(106, 255, 0) ;
    border-bottom: 3px solid rgb(106, 255, 0) ;
  }

.fotogallery{
    display: none;
 
}
.fotogallery.active{
    display: block;
 
}

.profile img{
    position: relative;
    width: 50vw;
    height: auto;
    margin-bottom: 2vmin;
}

.GradientCV{
    display: block;
    position: sticky;
    top: 40vh;
    right:0vw;
    width: 100%;
    height: 2vh;
    filter: blur(15px);
    background: linear-gradient(to left,rgba(255, 255, 255, 0)0%, rgb(255, 159, 118)15%, rgb(250, 255, 118)40%,rgb(32, 192, 255)85%,rgba(255, 255, 255, 0)100%);
    z-index:auto;
    transform: scale(0.7,2);  
    pointer-events: none;
}
.GradientWorks{

    display: block;
    position: sticky;
    bottom: 0vh;
    width: 100%;
    height: 15vh;

    background: linear-gradient(to bottom, rgb(255, 255, 255, 0) 0%,rgb(255, 255, 255)50%, rgb(51, 121, 187)100%);
    filter: blur(20px);
    transform: scale(1,5);
    z-index: auto;
    pointer-events: none;
}
.GradientC{
    display: block;
    position: sticky;
    top: 65vh;
    right:0vw;
    width: 100%;
    height: 6vh;
    filter: blur(30px);
    background: linear-gradient(to left, rgb(255, 255, 255,0)0%, rgb(255, 255, 255,0)25%,rgb(255, 255, 255,0)50%,rgba(255, 255, 255, 0)100%);
    z-index:auto;
    transform: scale(0.7,2);  
  
}
.GradientContact{
    display: block;
    position: absolute;
    bottom: 0vh;
    width:80vw;
    height:10vh;
 
    filter: blur(40px);
    background: linear-gradient(to right, rgb(118, 222, 163)0%, rgb(255, 255, 255)50%,rgba(255, 255, 255, 0)100%);
    z-index:0;
    transform: scale(1,2);  
    pointer-events: none;
  
}
.GradientContact2{
    bottom: 0vh;
    display: block;
    position: absolute;
    width: 12vw;
    
    filter: blur(50px);
    background: linear-gradient(to bottom, rgb(255, 255, 255)0%, rgb(255, 255, 255)50%,rgba(255, 255, 255, 0)100%);
    z-index:0;
    transform: scale(1,1);  
    pointer-events: none;
  
}

.email {  
    margin-top: 10vmin;
    text-align: center;
    z-index: 11;
   
}
.email a{
    font-family: "IBM Plex Mono", monospace;
    text-decoration: none;
    color: #000000;

}
.email h3{
    font-family: "IBM Plex Mono", monospace;
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    text-decoration-line: underline;
    text-decoration-style: wavy; 
    
}
.email h3:hover{
    color: #ffa75a;
    font-size: 15px;
}
.email img { 
    height: 15px;
    width: auto;
}
.email img:hover{
    filter: sepia(100%);
    width: auto;
    height: 20px;

}

.more {  
    text-align: center;
   
}
.more a{
    text-decoration-line: none;
    text-decoration-style: wavy;
    
}
.more h3{
    font-family: "IBM Plex Mono", monospace;
    text-decoration: none;
    color: #000000;

    text-align: center;
    
}
.more h3:hover{
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
    cursor: auto;
    font-size: 15px;
  
}
.more h2:hover{
    color: #ffa75a;
    font-size: 15px;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    
}
.more img { 
    width: auto;
    height: 15px;
}
.more img:hover{
    filter: sepia(100%);
    width: auto;
    height: 20px;

}

.partner{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding-top: 10vmin;
    padding-bottom: 20vmin;
    color: #000000;
    
}
.partner h3{
    margin-top: 5vmin; 
    white-space: nowrap;
    font-size: 13px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    color: #000000;
}
.partner a{
    margin-left: 10px;
    z-index: 10;  

}
.partner a h3{
    font-size: 13px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    color: #000000;
    text-decoration-line: underline;
    text-decoration-style: wavy; 
    text-decoration-color: #000000 ;

}
.partner a h3:hover{
    color: #bdb0d0;
    text-decoration-color: #bdb0d0 ;
    font-size: 15px;

}

h1 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-size: 20px;
    color: #000000;  
    
}
h2 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-size: 14px;
    color: #000000;
}
h3 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    text-align: center;
}
h4 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}
h5 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-size: 10px;
    color: #000000;
}
h6{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-size: 10px;
    color: #0000008d;
   

}
p{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 10px;
    color: #000000;
   

}

.w{
    position: relative;
    text-align: center;
    padding-top: 5vmin;
    text-align: center;
}
.w1{
    position: relative;
    text-align: center;
    padding-top: 5vmin;
    text-align: center;
}
.w2{
    display: none;
    
}

.image {
    display: block;
    cursor: pointer;
    margin-top: 8vmin;
    margin-bottom: 8vmin;
    
    
}
.image img {
    position: relative;
    display: block;
    width: 50vw;
    height: auto;
    object-fit: cover;
    right:0vw; 
}

.overlay {
    position: sticky;
    margin-left: 52vw;
    bottom: 50vh;
    width: auto;
    height: auto;
    max-width: 12px;
    max-height: 8vmin;
    overflow-wrap: normal;
    text-align: justify;


    opacity: 0;
    transition: .5s ease;
 
  }

.image:hover .overlay {
    opacity: 1;
}

.image img:hover {
    width: 51vw;
    height: auto;
    right:0.5vw;
    top:0.7vh;
}

.txt {

    color: rgb(79, 79, 79);
    font-size: 12px; 
  
  }
  

.content{
    display: block;
    position: relative;
    padding-top: 5vh;
    
     
}
.content h3{
    padding-bottom: 10vh;
    margin-left: 15vw;
    margin-right: 15vw;
    text-align: start;
    overflow-wrap: break-word;
    text-align: justify-all;
}
.content h6{
    padding-bottom: 10vh;
    margin-left: 15vw;
    margin-right: 15vw;
    text-align: start;
    overflow-wrap: break-word;
    text-align: justify-all;
}


.word{
    text-align: center;
    overflow-wrap: break-word;
    text-align: justify-all;
    padding-bottom: 5vmin;
}

#media {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    max-width: 70vw;
    padding-bottom: 10vmin;
    
}
.work-image {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: auto;
    height: auto;
    max-width: 70%;
    max-height: 70%;
}
.work-image img{
    padding-bottom: 10vmin;
}


footer{
    text-align: center; 
}
footer h3{
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    color: #7e7e7e;
    font-size: 10px;
    font-weight: 400;
}

@media (min-width: 768px){

    h1 {
        font-weight: 700;
        font-size: 25px; 
        
    }
    
    h2 {
        font-weight: 300;
        font-size: 19px;
    }
    
    h3 {
        font-weight: 400;
        font-size: 18px;
    }
    
    h4 {
        font-weight: 400;
        font-size: 23px;
    }
    h5 {
        font-weight: 300;
        font-size: 15px;
    }
    
    p{
        font-weight: 400;
        font-size: 15px;
    }

    .w1{ 
        display: none;

    }
    .w2{
        display: block;
        float: right;
        text-align: end;
        padding-top: 12vmin;
        padding-right: 10vw;
        width: 5vw;

    }
    

    .profile{
  

        width: 30vw;
        height: auto;
    }

    .profile img{

    
        width: 30vw;
        height: auto;
        margin-bottom: 2vmin;
    }

    .GradientCV{

        top: 40vh;
        width: 100%;
        height: 3vh;
        filter: blur(30px);
        transform: scale(0.7,2);  
    }
    .GradientWorks{
        bottom: 0vh;
        width: 100%;
        height: 15vh;
        background: linear-gradient(to bottom, rgb(255, 255, 255, 0) 0%,rgb(255, 255, 255)50%, rgb(51, 121, 187)100%);
        filter: blur(10px);
        transform: scale(1.2,5);
        
        
    }
    .GradientContact{
        left:20vw;
        bottom:30vh;
        width: 100%;
        height: 6vh;
        filter: blur(80px);
        background: linear-gradient(to right, rgb(118, 204, 222)0%, rgb(255, 255, 255)50%,rgba(255, 255, 255, 0)100%);
        transform: scale(1,2);  
      
    }
    
    .GradientContact2{
        left:50vw;
        bottom:20vh;
        width: 30vw;
        height: 3vh;
        filter: blur(40px);
        background: linear-gradient(to bottom, rgb(255, 83, 40)0%, rgb(255, 255, 255)50%,rgba(255, 255, 255, 0)100%);
        transform: scale(1,2.5);  
      
    }
    .image {
        margin-top: 0vmin;
        margin-bottom: 0vmin;
        
        
    }
    
    .image img {
  
        width: 30vw;
        height: auto;
        left:10vw; 
    }

    .image img:hover {
        width: 31vw;
        height: auto;
        right:10.5vw;
        top:0.7vh;
    }

   

}
@media (min-width: 1000px){

    h1 {
        font-weight: 700;
        font-size: 30px;  
    }
    
    h2 {
        font-weight: 300;
        font-size: 19px;
    }
    
    h3 {
        font-weight: 400;
        font-size: 18px;
    }
    
    h4 {
        font-weight: 400;
        font-size: 23px;
    }
    h5 {
        font-weight: 300;
        font-size: 15px;
    }
    
    p{
        font-weight: 400;
        font-size: 15px;
    }



    .profile img{

        width: 24vw;
        height: auto;
        margin-bottom: 2vmin;
        align-items: center;
    }

    .GradientCV{

        top: 50vh;
        width: 100%;
        height: 5vh;
        filter: blur(30px);
        transform: scale(0.7,2);  
    }
    .GradientWorks{
        bottom: 0vh;
        width: 100%;
        height: 15vh;
        background: linear-gradient(to bottom, rgb(255, 255, 255, 0) 0%,rgb(255, 255, 255)50%, rgb(51, 121, 187)100%);
        filter: blur(10px);
        transform: scale(1.2,5);
        
    }
    .GradientContact{
        left:20vw;
        bottom:30vh;
        width: 100%;
        height: 6vh;
        filter: blur(80px);
        background: linear-gradient(to right, rgb(118, 204, 222)0%, rgb(255, 255, 255)50%,rgba(255, 255, 255, 0)100%);
        transform: scale(1,2);  
      
    }
    
    .GradientContact2{
        left:50vw;
        bottom:20vh;
        width: 30vw;
        height: 3vh;
        filter: blur(40px);
        background: linear-gradient(to bottom, rgb(255, 83, 40)0%, rgb(255, 255, 255)50%,rgba(255, 255, 255, 0)100%);
        transform: scale(1,2.5);  
      
    }

    .gallery{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width:70vw;
     
    }



    .fotogallery.active{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width:70vw;
     
    }

    .image {
        position: relative;
        margin-left: 5vw;
        width: 15vw;  
        right:7vw;
       
        
    }
    
    .image img {
    
  
        width: 15vw;
        height: auto;
        left:0vw; 
        margin-bottom: 8vh;
      
    }


    .image img:hover {
        width: 16vw;
        height: auto;
        right:21.5vw;
        top:0.7vh;
    }

    .overlay {
        position: fixed;
        left: 40vw;
        bottom: 50vh;
        width: auto;
        height: auto;
        max-width: 12px;
        max-height: 8vmin;
        overflow-wrap: normal;
        text-align: justify;
     
      }

      .image:hover .overlay {
        opacity: 1;
    }
    .image:focus, .image:active:hover, .overlay {
        opacity: 0;
    }


    
        
     

}